/* line 1, /Users/admin/Apprenticeship/ebay_clone/app/assets/stylesheets/items.scss */
.index-jumbotron {
  background-color: #94618E;
  color: #F4DEC8;
  height: 20em;
  margin-bottom: 3em;
}

/* line 8, /Users/admin/Apprenticeship/ebay_clone/app/assets/stylesheets/items.scss */
.jumbotron-contents {
  width: 20em;
  margin: auto;
  padding-top: 6em;
  text-align: center;
}

/* line 15, /Users/admin/Apprenticeship/ebay_clone/app/assets/stylesheets/items.scss */
.btn-add-item {
  background-color: #F8EEE7;
  color: #49274A;
  font-weight: bold;
  border-color: #F4DEC8;
}

/* line 22, /Users/admin/Apprenticeship/ebay_clone/app/assets/stylesheets/items.scss */
.btn-buy-now {
  background-color: #49274A;
  color: #F4DEC8;
  font-weight: bold;
  border-color: #94618E;
}

/* line 29, /Users/admin/Apprenticeship/ebay_clone/app/assets/stylesheets/items.scss */
.items-index-image-container {
  border-color: gray;
  border-style: ridge;
  float: left;
  margin-right: 1em;
  margin-left: 0.3em;
  margin-top: 0.5em;
}

/* line 38, /Users/admin/Apprenticeship/ebay_clone/app/assets/stylesheets/items.scss */
.title-price {
  padding-top: 0.5em;
}

/* line 42, /Users/admin/Apprenticeship/ebay_clone/app/assets/stylesheets/items.scss */
.item-description {
  margin-right: 1em;
  margin-left: 0.3em;
}

/* line 46, /Users/admin/Apprenticeship/ebay_clone/app/assets/stylesheets/items.scss */
.item-container {
  background-color: #F4DECB;
  height: 18em;
  margin-bottom: 1.5em;
}

/* line 55, /Users/admin/Apprenticeship/ebay_clone/app/assets/stylesheets/items.scss */
.new-item-form {
  background-color: #F4DEC8;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

/* line 61, /Users/admin/Apprenticeship/ebay_clone/app/assets/stylesheets/items.scss */
.page-title {
  background-color: #94618E;
}

/* line 65, /Users/admin/Apprenticeship/ebay_clone/app/assets/stylesheets/items.scss */
.file-field-wrapper {
  width: 100px;
  margin: auto;
}
/* line 1, /Users/admin/Apprenticeship/ebay_clone/app/assets/stylesheets/purchases.scss */
.confirmation-message {
  background-color: #F4DEC8;
  padding-top: 2em;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
