<div class="container page-title text-center">
  <p> Bid confirmation </p>
</div>

<div class="container confirmation-message text-center">
  <p> Your bid of <%= @presenter.amount %> for item <strong> <%= @presenter.name %> </strong> was placed </p>
</div>
