<div class="container text-center page-title">
  <h2> Buy Item </h2>
</div>

<div class="container  text-center new-item-form">
  <%= form_for @presenter.purchase, url: {action: "create"} do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.submit "Buy", class: "btn-buy-now" %>
  <% end %>
</div>
