<div class="container page-title text-center">
  <p> Purchase confirmation </p>
</div>

<div class="container confirmation-message text-center">
  <p> <%= @presenter.purchaser_email %> Your purchase for <%= @presenter.item_name %> was successful </p>
  <p> The seller: <%= @presenter.seller_email %> will be contacting you shortly</p>
</div>
