.index-jumbotron {
  background-color: #94618E;
  color: #F4DEC8;
  height: 20em;
  margin-bottom: 3em;
}

.jumbotron-contents {
  width: 20em;
  margin: auto;
  padding-top: 6em;
  text-align: center;
}

.btn-add-item {
  background-color: #F8EEE7;
  color: #49274A;
  font-weight: bold;
  border-color: #F4DEC8;
}

.items-index-image-container {
  border-color: gray;
  border-style: ridge;
  float: left;
  margin-right: 1em;
  margin-left: 0.3em;
  margin-top: 0.5em;
}

.title-price {
  padding-top: 0.5em;
}

.item-description {
  margin-right: 1em;
  margin-left: 0.3em;
}
.item-container {
  background-color: #F4DECB;
  height: 10em;
  margin-bottom: 1.5em;
}

.item-details-container {
}

.new-item-form {
  background-color: #F4DEC8;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

.page-title {
  background-color: #94618E;
}

.file-field-wrapper {
  width: 100px;
  margin: auto;
  margin-bottom: 3em;
}

 form#new_item.new_item input{
  display: block;
  margin: auto;
}

.new-item-form label {
  display: block;
  margin: auto;
  padding-bottom: 1em;
  padding-top: 2em;
}

.btn-buy-now {
  background-color: #49274A;
  color: #F4DEC8;
  font-weight: bold;
  border-color: #94618E;
  display: inline-block;
}

